colorama==0.4.4
httpx==0.23.0
nextcord==2.2.0
nextcord_ext_menus==1.5.3
python-dotenv==0.20.0
SQLAlchemy==1.4.37
async-timeout==4.0.2
asyncio==3.4.3
mysql-connector-python==8.0.28
redis==4.3.3
pytz==2022.1
psutil==5.9.1
function-cooldowns==1.4.0
aiohttp==3.8.1